<div class="home-wrapper">
    <div class="banner-image">
        <img class="img-responsive" src="/images/banners/ecu-square-banner.jpg" alt="Banner"/>

        <div class="banner-overlay"></div>
        <div class="banner-content">
            <span class="banner-title animated fadeInDown">El Comite Urbano</span>
            <span class="banner-subtitle animated fadeInUp">El Mejor Radio Show En NYC</span>
        </div>

        <div class="banner-social">
            <ul class="social-media-share-home">
                <li>
                    <a target="_blank" class="fa fa-3x fa-facebook-official facebook-color"
                       href="https://www.facebook.com/elcomiteurbanoradio"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-instagram instagram-color"
                       href="https://www.instagram.com/elcomiteurbanoradio"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-youtube youtube-color"
                       href="https://www.youtube.com/elcomiteurbanoradio"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-soundcloud soundcloud-color"
                       href="https://soundcloud.com/elcomiteurbano"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-twitter twitter-color"
                       href="https://www.twitter.com/elcomiteurbano"></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="section-bg-dark">
        <div class="container">
            <span class="section-title">{{vm.featuredVideo.title}}</span>
            <div class="embed-responsive embed-responsive-16by9 media-video-wrapper">
                <iframe class="embed-responsive-item"
                        src="{{vm.featuredVideo.url}}"
                        frameborder="0" style="border: 0px none transparent;"></iframe>
            </div>
        </div>
    </section>

    <section class="section-bg-light">
        <div class="container">

            <span class="section-title">Musica</span>
            <div class="soundcloud-playlist-wrapper">
                <div class="row">
                    <div class="container">
                        <div class="col-sm-6" ng-repeat="song in vm.songs | limitTo: 20">
                            <div class="media" style="padding: 10px;">
                                <div class="media-left">
                                    <a href="{{song.imageUrl}}">
                                        <img class="media-object" src="{{song.imageUrl}}" width="100px">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <span class="artist-name" ng-bind="song.artists"></span>
                                        <span class="track-title truncate"
                                              ng-click="vm.playTrack($index)"
                                              ng-bind="song.title"></span>
                                        <br>
                                    </h4>
                                        <small>{{song.playback_count | number}} plays</small>

                                    <div class="soundcloud-player-controllers">
                                        <span class="pe-7s-play pe-3x pe-va hover-pointer sc-play-stop-{{$index}}" ng-click="vm.playTrack($index)"></span>
                                        <span class="pe-7s-cloud-download pe-2x pe-va hover-pointer" ng-click="vm.downloadTrack(song.download_url)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<ul ng-repeat="song in vm.songs | limitTo: 10">-->
                    <!--<li>-->
                        <!--<div class="media">-->
                            <!--<div class="media-left media-middle">-->
                                <!--<a href="{{song.imageUrl}}">-->
                                    <!--<img class="media-object" src="{{song.imageUrl}}" width="100px">-->
                                <!--</a>-->
                            <!--</div>-->
                            <!--<div class="media-body">-->
                                <!--<h4 class="media-heading">-->
                                    <!--<span class="hover-pointer" style="margin-bottom: 5px;" ng-click="vm.playTrack($index)">-->
                                        <!--{{song.title | limitTo: 30}}-->
                                    <!--</span>-->
                                    <!--<small>{{song.download_count}} Downloads</small>-->
                                <!--</h4>-->

                                <!--<div class="soundcloud-player-controllers">-->
                                    <!--<span class="pe-7s-play pe-3x pe-va hover-pointer sc-play-stop-{{$index}}" ng-click="vm.playTrack($index)"></span>-->
                                    <!--<span class="pe-7s-cloud-download pe-2x pe-va hover-pointer" ng-click="vm.downloadTrack(song.download_url)"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            </div>

        </div>
    </section>

    <section class="section-bg-dark">
        <div class="container">
            <div class="subscribe-wrapper">
                <div class="content">
                    <span class="title">Subscribete!!!</span>
                    <span class="subtitle">Subscribete para recibir notificaciones sobre las ultimas noticias, eventos y proximos shows.</span>
                    <form name="form" class="form-inline text-center" ng-submit="vm.subscribe()">
                        <input type="email" class="form-control form-control-ecu-accent" placeholder="email"
                               name="email" ng-minlength="6" ng-model="vm.subscribeEmail" required>
                        <input type="submit" class="btn btn-ecu-accent" ng-disabled="form.$invalid" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg-light">
        <div class="container">
            <span class="section-title">Noticias</span>
            <div class="row">
                <div class="col-sm-6" ng-repeat="news in vm.news">
                    <ecu-media-image media="news" destination-url="/news/details/"></ecu-media-image>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg-dark">
        <div class="container">
            <uib-carousel id="carousel-tweets" interval="3000" no-wrap="noWrapSlides" class="carousel-fade">
                <uib-slide ng-repeat="content in vm.promos" active="content.active">

                    <div class="row">
                        <div class="col-xs-6" ng-repeat="promo in content.content">
                            <div class="promo-wrapper">
                                <img src="{{promo.imageUrl}}" class="img-responsive">

                                <div class="content">
                                    <span class="artists" ng-bind="promo.artists"></span>
                                    <span class="title" ng-bind="promo.title"></span>
                                    <a href="{{promo.downloadUrl}}" class="download-link">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </uib-slide>
            </uib-carousel>
        </div>
    </section>

    <section class="section-bg-light">
        <div class="container">
            <span class="section-title">Videos</span>

            <div class="row">
                <div class="col-sm-6" ng-repeat="video in vm.youtube.videos">
                    <ecu-media-image media="video" destination-url="/videos/details/"></ecu-media-image>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg-dark">
        <div class="container">
            <uib-carousel id="carousel-tweets" interval="3000" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="tweet in vm.twitter" active="tweet.active">
                    <div class="social-media-post-wrapper container text-center">
                        <span><i class="fa fa-5x fa-twitter"></i></span>
                        <p class="text-center" ng-bind-html="vm.sanitizeHTML(tweet.html)"></p>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    </section>

    <script>
        (function($){
            'use strict';

            setTimeout(function() {
                var $dot = $('.truncate');

                $dot.dotdotdot({
                    ellipsis: "… ",
                    watch: true,
                    wrap: "letter",
                    height: parseInt($dot.css("line-height"), 10), // this is the number of lines
                    lastCharacter: {
                        remove: [" ", ",", ";", ".", "!", "?"],
                        noEllipsis: []
                    }
                });
            }, 3000);
        })(jQuery);
    </script>

</div>