<div class="home-wrapper" ng-controller="HomeController as vm">
    <div class="banner-image">
        <img class="img-responsive" src="/images/banners/ecu-square-banner.jpg" alt="Banner"/>

        <div class="banner-overlay"></div>
        <div class="banner-content">
            <span class="banner-title animated fadeInDown">El Comite Urbano</span>
            <span class="banner-subtitle animated fadeInUp">El Mejor Radio Show En NYC</span>
        </div>
        <div class="banner-social">
            <ul class="social-media-share-home">
                <li>
                    <a target="_blank" class="fa fa-3x fa-facebook-official facebook-color"
                       href="https://www.facebook.com/elcomiteurbanoradio"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-instagram instagram-color"
                       href="https://www.instagram.com/elcomiteurbanoradio"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-youtube youtube-color"
                       href="https://www.youtube.com/elcomiteurbanoradio"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-soundcloud soundcloud-color"
                       href="https://soundcloud.com/elcomiteurbano"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-twitter twitter-color"
                       href="https://www.twitter.com/elcomiteurbano"></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="section-bg-dark">
        <div class="container">
            <span class="section-title">{{vm.featuredVideo.title}}</span>
            <div class="embed-responsive embed-responsive-16by9 media-video-wrapper">
                <iframe class="embed-responsive-item"
                        src="{{vm.featuredVideo.url}}"
                        frameborder="0" style="border: 0px none transparent;"></iframe>
            </div>
        </div>
    </section>

    <section>
        
    </section>
</div>