<div class="home-wrapper">
    <div class="banner-image">
        <img class="img-responsive" src="/images/banners/ecu-square-banner.jpg" alt="Banner"/>

        <div class="banner-overlay"></div>
        <div class="banner-content">
            <span class="banner-title animated fadeInDown">El Comite Urbano</span>
            <span class="banner-subtitle animated fadeInUp">El Mejor Radio Show En NYC</span>
        </div>
        <div class="banner-social">
            <ul class="social-media-share-home">
                <li>
                    <a target="_blank" class="fa fa-3x fa-facebook-official facebook-color"
                       href="https://www.facebook.com/elcomiteurbanoradio"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-instagram instagram-color"
                       href="https://www.instagram.com/elcomiteurbanoradio"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-youtube youtube-color"
                       href="https://www.youtube.com/elcomiteurbanoradio"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-soundcloud soundcloud-color"
                       href="https://soundcloud.com/elcomiteurbano"></a>
                </li>
                <li>
                    <a target="_blank" class="fa fa-3x fa-twitter twitter-color"
                       href="https://www.twitter.com/elcomiteurbano"></a>
                </li>
            </ul>
        </div>
    </div>

    <section class="section-bg-dark">
        <div class="container">
            <span class="section-title">{{vm.featuredVideo.title}}</span>
            <div class="embed-responsive embed-responsive-16by9 media-video-wrapper">
                <iframe class="embed-responsive-item"
                        src="{{vm.featuredVideo.url}}"
                        frameborder="0" style="border: 0px none transparent;"></iframe>
            </div>
        </div>
    </section>

    <section class="section-bg-light">
        <div class="container">
            <span class="section-title">Noticias</span>
            <div class="row">
                <div class="col-sm-6" ng-repeat="news in vm.news">
                    <ecu-media-image media="news" destination-url="/news/details/"></ecu-media-image>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg-dark">
        <div class="container">
            <uib-carousel id="carousel-tweets" interval="3000" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="tweet in vm.twitter" active="tweet.active">
                    <div class="social-media-post-wrapper container text-center">
                        <span><i class="fa fa-5x fa-twitter"></i></span>
                        <p class="text-center" ng-bind-html="vm.sanitizeHTML(tweet.html)"></p>
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>
    </section>

    <section class="section-bg-light">
        <div class="container">
            <span class="section-title">Videos</span>

            <div class="row">
                <div class="col-sm-6" ng-repeat="video in vm.youtube.videos">
                    <ecu-media-image media="video" destination-url="/videos/details/"></ecu-media-image>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg-dark">
        <div class="container">
            <div class="subscribe-wrapper">
                <div class="content">
                    <span class="title">Suscribete!!!</span>
                    <span class="subtitle">Suscribete para recivir notificaciones sobre las ultimas noticias, eventos y proximos shows.</span>
                    <form name="form" class="form-inline text-center" ng-submit="vm.subscribe()">
                        <input type="email" class="form-control form-control-ecu-accent" placeholder="email"
                               name="email" ng-minlength="6" ng-model="vm.subscribeEmail" required>
                        <input type="submit" class="btn btn-ecu-accent" ng-disabled="form.$invalid" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="section-bg-light">
        <div class="container">
            <span class="section-title">Soundcloud</span>
            <div class="row">
                <div class="col-sm-6 col-md-4" ng-repeat="song in vm.songs | limitTo:12">
                    <ecu-media-image media="song"></ecu-media-image>
                </div>
            </div>
        </div>
    </section>
</div>