<div id="videos-wrapper">
    <section class="section-bg-dark">
        <div class="container">
            <span class="section-title">Videos</span>
            <div id="videos-content" class="row animated">
                <div class="col-md-6" ng-repeat="video in vm.videos">
                    <ecu-media-image media="video" destination-url="/videos/details/"></ecu-media-image>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <nav>
            <ul class="pager">
                <li class="previous hover-pointer" ng-class="vm.prev ? '' : 'disabled'" ng-click="vm.previousVideos()">
                    <button  ng-disabled="!vm.prev"><span aria-hidden="true">&larr;</span> Previous</button>
                </li>
                <li class="next hover-pointer" ng-class="vm.next ? '' : 'disabled'" ng-click="vm.nextVideos()" >
                    <button ng-disabled="!vm.next">Next <span aria-hidden="true">&rarr;</span></button>
                </li>
            </ul>
        </nav>
    </div>
</div>