@import 'variables.less';

a {
  text-decoration: none;
  
  &:hover, &:focus {
    text-decoration: none;
  }
}

.no-padding {
  padding: 0;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.row {
  margin: 0;
}

.height-350 {
  height: 350px;
}

.height-300 {
  height: 300px;
}

.height-500 {
  height: 500px;
}

.section-title {
  font-size: 3vw;
  font-family: @ubuntu;
  font-weight: @font-weight-thin;
  margin-bottom: @space-level-3;
  display: block;
  text-align: right;
  border-bottom: 1px dotted @color-font-accent;
  padding-bottom: @space-level-2;
}

.section-bg-dark {
  background-color: @color-bg-primary;
  padding: @space-level-4 0;
}

.section-bg-light {
  background-color: @color-bg-secondary;
  padding: @space-level-4 0;
}

.media-video-wrapper {
  background-color: black;
  box-shadow: 0 0 5px black;
  border: 1px dotted @color-bg-accent;
}

.media-image-wrapper {
  position: relative;
  background-color: black;
  box-shadow: 0 0 5px black;
  border: 1px dotted @color-bg-accent;
  margin-bottom: @space-level-4;
  overflow: hidden;

  a {
    color: @color-font-light;
    text-decoration: none;

    &:hover, &:focus {
      color: @color-font-accent;
      text-decoration: none;
    }
  }

  .content {
    padding: @space-level-2 @space-level-3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.97);

    .title {
      display: block;
      font-size: @font-size-large;
    }

    .subtitle {
      display: block;
      color: @color-font-dark;
      font-size: @font-size-regular;
    }
  }
}

.carousel-indicators li { display: none; }
.carousel-control.right, .carousel-control.left { display: none; }

.form-control-ecu-accent {
  background-color: transparent;
  color: @color-font-accent;
  border: 1px dotted @color-bg-accent;

  &:active, &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid @color-bg-accent;
    color: white;
    background-color: darken(@color-bg-accent, 45%);
  }
}

.btn-ecu-accent {
  background-color: transparent;
  color: @color-font-accent;
  border: 1px dotted @color-bg-accent;

  &:hover, &:active, &:focus {
    color: white;
    background-color: @color-bg-accent;
  }
}


@media @media-x-small {
  .section-title {
    font-size: 6vw;
  }
}

@media @media-small {
  .section-title {
    font-size: 4.5vw;
  }
}

@media @media-medium {
  .section-title {
    font-size: 3.5vw;
  }
}