a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
.no-padding {
  padding: 0;
}
.no-left-padding {
  padding-left: 0;
}
.no-right-padding {
  padding-right: 0;
}
.row {
  margin: 0;
}
.height-350 {
  height: 350px;
}
.height-300 {
  height: 300px;
}
.section-title {
  font-size: 3vw;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  margin-bottom: 15px;
  display: block;
  text-align: right;
  border-bottom: 1px dotted #F96816;
  padding-bottom: 10px;
}
.section-bg-dark {
  background-color: #181818;
  padding: 20px 0;
}
.section-bg-light {
  background-color: #222222;
  padding: 20px 0;
}
.media-video-wrapper {
  background-color: black;
  box-shadow: 0 0 5px black;
  border: 1px dotted #F96816;
}
.media-image-wrapper {
  position: relative;
  background-color: black;
  box-shadow: 0 0 5px black;
  border: 1px dotted #F96816;
  margin-bottom: 20px;
  overflow: hidden;
}
.media-image-wrapper a {
  color: #fafafa;
  text-decoration: none;
}
.media-image-wrapper a:hover,
.media-image-wrapper a:focus {
  color: #F96816;
  text-decoration: none;
}
.media-image-wrapper .content {
  padding: 10px 15px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.97);
}
.media-image-wrapper .content .title {
  display: block;
  font-size: 20px;
}
.media-image-wrapper .content .subtitle {
  display: block;
  color: #a1a1a1;
  font-size: 16px;
}
.carousel-indicators li {
  display: none;
}
.carousel-control.right,
.carousel-control.left {
  display: none;
}
.form-control-ecu-accent {
  background-color: transparent;
  color: #F96816;
  border: 1px dotted #F96816;
}
.form-control-ecu-accent:active,
.form-control-ecu-accent:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #F96816;
  color: white;
  background-color: #280f01;
}
.btn-ecu-accent {
  background-color: transparent;
  color: #F96816;
  border: 1px dotted #F96816;
}
.btn-ecu-accent:hover,
.btn-ecu-accent:active,
.btn-ecu-accent:focus {
  color: white;
  background-color: #F96816;
}
@media only screen and (max-width: 543px) {
  .section-title {
    font-size: 6vw;
  }
}
@media only screen and (min-width: 544px) and (max-width: 767px) {
  .section-title {
    font-size: 4.5vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title {
    font-size: 3.5vw;
  }
}
.navigation-bar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px dashed #F96816;
  background-color: #222222;
  color: #fafafa;
  min-height: 100px;
  min-width: 100%;
  overflow: hidden;
  z-index: 100;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.navigation-bar-wrapper .navigation-bar-brand {
  padding: 0 20px;
  display: inline-block;
}
.navigation-bar-wrapper .navigation-bar-brand a {
  color: #fafafa;
  text-decoration: none;
}
.navigation-bar-wrapper .navigation-bar-brand a:hover {
  color: #fafafa;
}
.navigation-bar-wrapper .navigation-bar-brand a .navigation-bar-brand-title {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  line-height: 100px;
}
.navigation-bar-wrapper .navigation-bar-brand a .navigation-bar-brand-title span {
  color: #F96816;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}
.navigation-bar-wrapper .navigation-menu-icon-wrapper {
  display: inline-block;
  float: right;
}
.navigation-bar-wrapper .navigation-menu-icon-wrapper .navigation-bar-menu-icon {
  border-left: 2px solid #F96816;
  border-right: 2px solid #F96816;
  line-height: 100px;
  padding: 0 5px;
  font-size: 25px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.navigation-bar-wrapper .navigation-menu-icon-wrapper .navigation-bar-menu-icon:hover {
  color: #F96816;
  cursor: pointer;
}
.navigation-bar-sidebar-wrapper {
  position: fixed;
  background-color: #222222;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  z-index: 99;
  border-top: 2px solid #222222;
  border-left: 2px solid #222222;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding-top: 100px;
}
.navigation-bar-sidebar-wrapper a {
  display: block;
  padding: 20px;
  font-size: 20px;
  border-bottom: 2px solid #181818;
  color: #fafafa;
}
.navigation-bar-sidebar-wrapper a:hover,
.navigation-bar-sidebar-wrapper a:focus {
  color: #F96816;
}
.navigation-bar-sidebar-wrapper a span {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 1px;
  font-weight: 100;
}
.navigation-bar-sidebar-wrapper a span:hover,
.navigation-bar-sidebar-wrapper a span:focus {
  color: #F96816;
}
.navigation-bar-sidebar-wrapper a:last-child {
  font-size: 16px;
  font-weight: 100;
}
.navigation-bar-sidebar-toggle {
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
@media only screen and (min-width: 1200px) {
  .navigation-bar-sidebar-toggle {
    -webkit-transform: translate3d(-25%, 0, 0);
    -moz-transform: translate3d(-25%, 0, 0);
    -ms-transform: translate3d(-25%, 0, 0);
    -o-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  .navigation-bar-sidebar-toggle {
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@media only screen and (min-width: 544px) and (max-width: 767px), only screen and (max-width: 543px) {
  .navigation-bar-sidebar-toggle {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.banner-image {
  position: relative;
  overflow: hidden;
}
.banner-image img {
  width: 100%;
}
.banner-image .banner-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.banner-image .banner-content {
  position: absolute;
  top: 30%;
  left: 50%;
  color: #fafafa;
  -webkit-transform: translate3d(-50%, -30%, 0);
  -moz-transform: translate3d(-50%, -30%, 0);
  -ms-transform: translate3d(-50%, -30%, 0);
  -o-transform: translate3d(-50%, -30%, 0);
  transform: translate3d(-50%, -30%, 0);
}
.banner-image .banner-content span {
  text-align: center;
  display: block;
}
.banner-image .banner-content .banner-title {
  font-family: 'Roboto', sans-serif;
  font-size: 6vw;
  font-weight: 100;
}
.banner-image .banner-content .banner-subtitle {
  font-size: 3vw;
  color: #fafafa;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
}
.banner-image .banner-social {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fafafa;
  max-height: 100px;
}
.banner-image .banner-social .social-media-share-home {
  width: 100%;
  padding: 0;
  list-style-type: none;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.banner-image .banner-social .social-media-share-home li {
  display: inline-block;
  width: 16.66666667%;
  border-right: 1px dashed #F96816;
}
.banner-image .banner-social .social-media-share-home li:first-child {
  border-left: 1px dashed #F96816;
}
.banner-image .banner-social .social-media-share-home li a {
  color: #fafafa;
  line-height: 100px;
}
.banner-image .banner-social .social-media-share-home li a:hover {
  color: #F96816;
}
#carousel-tweets {
  min-height: 200px;
}
#carousel-tweets .social-media-post-wrapper {
  vertical-align: middle;
  padding: 20px;
}
#carousel-tweets .social-media-post-wrapper i {
  font-size: 10vw;
  display: block;
  margin-bottom: 20px;
}
#carousel-tweets .social-media-post-wrapper p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2vw;
  color: white;
}
#carousel-tweets .social-media-post-wrapper p a {
  color: #F96816;
}
.subscribe-wrapper {
  padding: 20px 0;
}
.subscribe-wrapper .content .title {
  text-align: center;
  color: #fafafa;
  display: block;
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #F96816;
}
.subscribe-wrapper .content .subtitle {
  text-align: center;
  color: #fafafa;
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
}
.subscribe-wrapper .content input {
  margin-bottom: 10px;
}
@media only screen and (min-width: 544px) and (max-width: 767px), only screen and (max-width: 543px) {
  .banner-image .banner-social {
    height: 50px;
  }
  .banner-image .banner-social li a {
    font-size: 20px;
    line-height: 50px !important;
  }
  #carousel-tweets .social-media-post-wrapper p {
    font-size: 3.5vw;
  }
}
body {
  background-color: #181818;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 100px;
}
body #ng-view-main {
  min-height: 100vh;
}
body .footer-wrapper .footer-brand a {
  color: #fafafa;
  text-decoration: none;
  display: block;
}
body .footer-wrapper .footer-brand a:hover {
  color: #fafafa;
}
body .footer-wrapper .footer-brand a .footer-brand-title {
  position: relative;
  font-size: 30px;
  font-weight: 300;
  line-height: 100px;
}
body .footer-wrapper .footer-brand a .footer-brand-title span {
  color: #F96816;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
}
body .footer-wrapper ul {
  margin: 0 0 10px 0;
  padding: 0;
  text-align: center;
}
body .footer-wrapper ul li {
  display: inline-block;
  padding: 0 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
body .footer-wrapper ul li a {
  color: #fafafa;
}
body .footer-wrapper ul li a:hover {
  color: #F96816;
}
