<nav>
    <header class="navigation-bar-wrapper">
        <div class="container">
            <div class="navigation-bar-brand">
                <a href="/">
                        <span class="navigation-bar-brand-title animated fadeIn">
                            COMITE<span>URBANO</span>
                        </span>
                </a>
            </div>
            <div class="navigation-menu-icon-wrapper">
                    <span class="navigation-bar-menu-icon animated fadeIn" ng-click="navbar.toggleSideBar()">
                        <i class="glyphicon glyphicon-option-vertical"></i>
                    </span>
            </div>
        </div>
    </header>

    <aside class="navigation-bar-sidebar-wrapper" ng-class="navbar.isSideBarOpen ? 'navigation-bar-sidebar-toggle' : ''">
        <a href="/">
            <i class="pe-7s-home pe-lg pe-va">
                <span>HOME</span>
            </i>
        </a>
        <a href="/news">
            <i class="pe-7s-news-paper pe-lg pe-va">
                <span>NEWS</span>
            </i>
        </a>
        <a href="/videos">
            <i class="pe-7s-video pe-lg pe-va">
                <span>VIDEOS</span>
            </i>
        </a>
        <a href="/about">
            <i class="pe-7s-info pe-lg pe-va">
                <span>ABOUT</span>
            </i>
        </a>
        <a style="cursor: pointer" target="_self" ng-click="global.contactUs()">
            <i class="pe-7s-mail pe-lg pe-va">
                <span>CONTACT</span>
            </i>
        </a>
        <a href="http://www.iamrelos.com" target="_blank">
            Created By: IamRelos
        </a>
    </aside>
</nav>